body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container{
  width: 80%;
  margin: auto; /* moves it to the middle*/
  overflow: hidden /*if something goes over, there will be scrol bar displayed*/
}

ul{ 
  margin: 0;
  padding: 0;
}

/* Header */
header{
  background: #0a0a0a;
  color: rgb(250, 249, 239);
  padding-top: 30px;
  min-height: 70px; /*when its responsive, the height will adjust*/
  border-bottom: #fce2da 1px solid;
}

header a{
  color: #fff;
  text-decoration: none; /*removes the underline*/
  text-transform: uppercase; /*Turns a the text to Uppercase*/
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding:  0 20px 0 20px;
}


header #logo{
  float: left;
}

header #logo h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .logo-header, header .active-1 a{
  color: #868382;
  font-weight: bold;
}

header a:hover{
  color:rgb(245, 198, 198);
  font-weight: bold;
}

.header-tm li{
  display: inline;
}

/* Showcase **/
#login-section{
  height: 84vh;
  background: url('../img/showcase.jpg') no-repeat 0 -80px; 
}

.loginBox{
  width: 17rem;
  height: 20rem;
  padding: 40px 15px;
  box-sizing: content-box;
  background: rgba(238, 216, 216, .3);
  margin: auto;
}

h2{
  margin: 0;
  padding: 0;
  color: #000;
  text-align: center;
  font-size: 30px;
  
}

.loginBox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: rgb(250, 8, 8);
  font-size: 1rem;
}

.loginBox input{
  width: 100%;
  margin-bottom: 10px; 
}

.loginBox input[type="email"],
.loginBox input[type="password"]{
  border: 2px solid #000;
  background: -o-repeating-linear-gradient();
  outline: none;
  height: 2.2rem;
  color: rgb(1, 8, 4);
  font-size: 16px;
  border-radius: 4px; 
}

button{
  height: 2.5rem;
  font-size: 16px;
  background: #000;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  width: 14rem;
  outline: none;
  margin-left: 1.7rem;
}

button:hover{
  background: rgb(250, 8, 8);
  color: #fff;
}

.loginBox a{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 30px;    
}


/* Details **/
#details{
  margin-top: 20px;    
}

#details .details-1{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#details .details-1 img{
  width: 10rem;
  border-radius: 100px;
  height: 10rem;
}

/*userPage*/
#user-registration-form{
  height: 30rem;
}

.signup-form{
  width: 300px;
  padding: 20px;
  text-align: center;
  margin: auto;
}

.signup-form h1{
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000;
  font-size: 40px;
}

.signup-form input{
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.txtb{
  margin: 15px 0;
  background: #22eedd;
  border-radius: 6px;
}

.signup-btn{
  margin-top: 30px;
  margin-bottom: 20px;
  background: #222222;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

.signup-btn:hover{
  background: orangered;
  color: black;
}

.signup-form a{
  text-decoration: none;
  color: #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  transition: 0.8s;
  display: block;
  border-radius: 4px;
}

.signup-form a:hover{
  background: #ee2c0a;
}

/*political office*/
#pol-office-list{
  height: 72vh;
}

.pol-off a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: block;
  padding: 5px 0 5px 20px;
  color: #000;
}

.pol-off a:hover{
  color: #ee2c0a;
}

/*userProfile*/
#user-profile{
  /* width: 25rem;
  height: 30rem;
  margin: auto; */
}

.user-profile-box{
  /* width: 17rem;
  height: 20rem;
  padding: 100px 15px;
  box-sizing: content-box;
  background: #ccc;
  margin: auto; */
}

.user{
/* width: 6rem;
height: 6rem;
border-radius: 50%;
overflow: hidden;
position: absolute;
top: calc(13rem/2);
left: calc(39rem); */
}

h5{
  margin: 0;
  padding: 0 0 20px;
  color: #202013;
  text-align: center;
}

h5 a{
  text-decoration: none;
  color: black
}

h5 a:hover{
  color: #ee2c0a;
}

.user-profile-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}

/*Admin Page**/
.font-container-01{
  display: flex;
  height: 74.5vh;
}

.side-panel{
  width: 15%;
  flex: 1;
  padding-left: 20px; 
}
.side-panel a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  padding: 10px;
  display: block;
}

.main-panel{
  flex: 2;
  padding-right: 20px
}

legend{
  text-align: center;
}

fieldset{
  align-content: center;
}


/*footer*/
footer{
  padding: 2px;
  margin-top: 5px;
  color: #fff;
  background-color: #0a0a0a;
  text-align: center;
}

/*Media Query*/
@media(max-width:760px){
  header #logo,
  header nav,
  header nav li,
  #details .details-1,
  .ul-container li{
      float: none;
      text-align: center;
      width: 100%;
  }

  header{
      padding-bottom: 20px;
  }

  #showcase h1{
      margin-top: 40px;
  }

}

@media only screen and (max-width:600px){
  div .container, ul-container{
      align-content: center;
  }
}